<a href="https://colab.research.google.com/github/tomasbsm/Amb-Git/blob/feature1/DEX01TRIBO3G12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. COLOCANDO A BASE DE DADOS NO COLAB

## 1.1 Importando bibliotecas

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
from google.colab import drive

## 1.2 Liberando acesso ao google drive

In [16]:
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

## 1.3 Importando os arquivos .xlsx

### 1.3.1. Arquivos de Venda

In [30]:
dfV13 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/Vendas Jan13 a Dez13.XLSX')
dfV14 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/Vendas Jan14 a Dez14.XLSX')
dfV15 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/Vendas Jan15 a Dez15.XLSX')
dfV16 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/Vendas Jan16 a Dez16.XLSX')
dfV17 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/Vendas Jan17 a Dez17.XLSX')
dfV18 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/Vendas Jan18 a Dez18.XLSX')
dfV19 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/VendasJan19aDez19.XLSX')
dfV20 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/Vendas Jan20 a Dez20.XLSX')
dfV21 = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/Vendas Jan21 a Jul21.XLSX')

In [36]:
dfVendas = pd.concat([dfV13, dfV14, dfV15, dfV16, dfV17, dfV18, dfV19, dfV20, dfV21], axis=0)
dfVendas.describe()

           Material  ...  Classificação contábil múltipla
count  4.549030e+05  ...                              0.0
mean   4.901520e+06  ...                              NaN
std    9.043511e+02  ...                              NaN
min    4.900001e+06  ...                              NaN
25%    4.900687e+06  ...                              NaN
50%    4.901663e+06  ...                              NaN
75%    4.902098e+06  ...                              NaN
max    4.904198e+06  ...                              NaN

[8 rows x 44 columns]

### 1.3.2. S & OP

In [38]:
dfLaminado = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/S_OP LAMINADO.xlsx')
dfTemperado = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/S_OP_TEMPERADO.xlsx')

In [39]:
dfLaminado.describe() ## Nenhuma variável numérica -- Como faremos?

       Unnamed: 0    Unnamed: 20
count         0.0       4.000000
mean          NaN   50797.166667
std           NaN   75787.091243
min           NaN      21.000000
25%           NaN      21.000000
50%           NaN   21390.166667
75%           NaN   72166.333333
max           NaN  160387.333333

In [40]:
dfTemperado.describe() ## Nenhuma variável numérica -- Como faremos?

       Unnamed: 0    Unnamed: 12
count         0.0       4.000000
mean          NaN   53421.583333
std           NaN   79138.626442
min           NaN      22.000000
25%           NaN      22.000000
50%           NaN   23043.333333
75%           NaN   76442.916667
max           NaN  167577.666667

### 1.3.3. BUDGET

In [41]:
dfBOEM = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/2.1 - BUDGET OEM e OES.xlsx')
dfBARG = pd.read_excel('/content/gdrive/My Drive/DatabaseAGC/2.2 - BUDGET ARG.xlsx')

In [53]:
dfBOEMMod = dfBOEM.iloc[2: , :]
dfBOEMMod.columns = dfBOEMMod.iloc[0]
dfBOEMMod = dfBOEMMod.iloc[1: , :]
dfBOEMMod.head()

2 Item planilha sales Identif. (BGT/ACT)  ... Volume 2025 Volume 2026
3                   1                ACT  ...           0           0
4                   2                ACT  ...     86407.4     86407.4
5                   3                ACT  ...     86407.4     86407.4
6                   4                ACT  ...     50657.4     50657.4
7                   5                ACT  ...     50657.4     50657.4

[5 rows x 49 columns]

In [55]:
dfBOEMMod.describe()

2       Item planilha sales Identif. (BGT/ACT)  ... Volume 2025 Volume 2026
count                   294                294  ...       294.0       294.0
unique                  294                  2  ...       134.0       133.0
top                     313                ACT  ...         0.0         0.0
freq                      1                183  ...       110.0       101.0

[4 rows x 49 columns]

In [54]:
dfBARGMod = dfBARG.iloc[2: , :]
dfBARGMod.columns = dfBARGMod.iloc[0]
dfBARGMod = dfBARGMod.iloc[1: , :]
dfBARGMod.head() ### Planilhas são diferentes - como iremos juntar??

2    MARCA TIPO                                DESCRIÇÃO  ...  2024  2025.0  2026.0
3  Citroen   WS                  PB CITROEN C3 02-11 VSF  ...   800   800.0   800.0
4  Citroen   WS        PB CITROEN C3 02-11 C/ SENSOR VSF  ...   300   300.0   300.0
5     Fiat   WS            PB FIAT ARGO / CRONOS 17- VSF  ...  2700  3000.0  3000.0
6     Fiat   WS            PB FIAT ARGO / CRONOS 17- VFA  ...  2600  3000.0  3000.0
7     Fiat   WS  PB FIAT ARGO / CRONOS 17- C/ SENSOR VFA  ...   450   450.0   450.0

[5 rows x 24 columns]

In [56]:
dfBARGMod.describe() ## Poucas variáveis numérica, será necessário converter as colunas

2            2023.0          2024        2025.0        2026.0
count    231.000000    231.000000    231.000000    231.000000
mean    2408.225108   2475.324675   2643.290043   2718.398268
std     4374.740435   4544.244879   4881.573472   5040.189349
min      120.000000    120.000000    120.000000    120.000000
25%      300.000000    300.000000    300.000000    300.000000
50%      600.000000    700.000000    750.000000    750.000000
75%     2460.000000   2560.000000   2650.000000   3000.000000
max    31000.000000  31000.000000  33000.000000  34000.000000